---
layout: page
---
{%if page.description %}
<div class="description">{{page.description|markdownify}}</div>
{%endif%}
<div id="story" class="tracery"></div>
<form>
	<div class="form-group text-center">
		<label for="numberOfStories">Number of Stories to Generate:</label>
		<input type="number" id="numberOfStories" value="1">
	</div>
	<div class="form-group text-center">
		<input type="button" value="Create a New Story" id="newStory" class="btn btn-default">
	</div>
</form>
<script id="grammar" type="application/json">
{{ content }}
</script>
<script src="{{ site.baseurl }}/public/js/tracery.min.js"></script>
<script src="{{ site.baseurl }}/public/js/controls.min.js"></script>